<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Set title -->
  <title>Mission to Mars</title>

  <!-- Responsive MOBILE shrink to fit -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!--Navbar Bootstrap Component-->
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Mission to Mars</h1>
            <p class="lead">Welcome to a page all about Mars! Please click the button below to begin scraping new data.</p>
            <hr class="my-4">
            <a class="btn btn-primary" href="http://127.0.0.1:5000/scrape" role="button">Scrape New Data</a>
        </div>
    </div>

    <!---Mars News scraping-->
    <div class="container">
        <div class='row'>
            <h2>Latest Mars News</h2>
            <h4>{{ mars.nasa_news_title }}</h4>
            <p>{{ mars.nasa_news_snippet }}</p>
        </div>
    </div>

    <!---Mars Featured Image-->
    <div class="container">
        <div class='row'>
            <h2>Featured Mars Image</h2>
            <img src="{{mars.featured_image}}" style="max-width:100%; max-height: auto;" alt="mars image">
        </div>
    </div>
          <!-- Table -->
    <div class="container">
        <div class='row'>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xm-12">
          <h2>Mars Facts</h2>
          <div>
              {{ mars.mars_facts_table  | safe}}
            </div>

        </div>
      </div>
    </div><!---container for image and table closed-->
    <div class="container">
        <div class='row'>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xm-12">
            <h2>Mars Hemispheres</h2>
                <div class="row">
                    {% for item in mars.mars_hemispheres %}
                    <h3>{{item.hemisphere_title}} </h3>
                    <img src="{{item.final_jpg_url}}" width=400px alt="Mars Hemispheres"> 
                    {% endfor %}
                </div>
        </div>
    </div>
                    
    </div>
              

      </div>
    </div>


  </div> <!---body->container closed-->
</body>

</html>