<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>

  <!-- Responsive MOBILE shrink to fit -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!--Navbar Bootstrap Component-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Mission to Mars</a>
        <!-- Make nav grey and add button to create new data!!! -->
    </nav>

    <!---Mars News scraping-->
    <div class="container">
        <h2>Latest Mars News</h2>
        <h4>{{ mars.nasa_news_title }}</h4>
        <p>{{ mars.nasa_news_snippet }}</p>
    </div>

    <div class="container">
      <div class='row'>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xm-12">
        <h2>Featured Mars Image</h2>
        <img src="{{mars.featured_image}}" style="max-width:100%; max-height: auto;" alt="mars image">
    
          <!-- Table -->
          <br>
          <h2>Mars Facts</h2>
          <div>
              {{ mars.mars_facts_table  | safe}}
            </div>

        </div>
      </div>
    </div><!---container for image and table closed-->
    <div class="container">
        <div class='row'>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xm-12">
            <h2>Mars Hemispheres</h2>
                <div class="row">
                    {% for item in mars.mars_hemispheres %}
                    <p>Title: {{item.hemisphere_title}} </p>
                    <img src="{{item.final_jpg_url}}" width=100px alt="Mars Hemispheres"> 
                    {% endfor %}
                </div>
        </div>
    </div>
                    
    </div>
              

      </div>
    </div>


  </div> <!---body->container closed-->
</body>

</html>